In [1]:
import pandas as pd

### Seriesの基本的な特徴：
Seriesは「ラベル付きの一次元配列」と考えるとわかりやすいです。普通のリストや配列と違って、各要素に「インデックス」という名前（ラベル）を付けることができます。

In [4]:
x = pd.Series(data=[1,3,5])
x

0    1
1    3
2    5
dtype: int64

### これでもOK

In [32]:
x2 = pd.Series([1,3,5])
x2

0    1
1    3
2    5
dtype: int64

In [5]:
x.values

array([1, 3, 5])

In [7]:
x.dtype

dtype('int64')

In [8]:
x.index

RangeIndex(start=0, stop=3, step=1)

In [9]:
x

0    1
1    3
2    5
dtype: int64

### 2行目を返す

In [10]:
x.loc[2]

np.int64(5)

In [11]:
x.iloc[2]

np.int64(5)

### 行名と行番号が一致しない

In [12]:
y = pd.Series(data=[1,3,5], index=['a','b','c'])
y

a    1
b    3
c    5
dtype: int64

In [14]:
y.loc['a']

np.int64(1)

In [16]:
y.iloc['b']

TypeError: Cannot index by location index with a non-integer key

In [17]:
y.iloc[2]

np.int64(5)

In [18]:
y.index

Index(['a', 'b', 'c'], dtype='object')

### loc関数ってなに？
locは、pandasでデータをラベル（インデックス名）で指定して取得・設定する機能です。

### ilocとの違い：
loc: ラベル名で指定（'田中', '数学'など）
iloc: 位置（番号）で指定（0, 1, 2など）

### locって何の略？
locは**"location"（場所・位置）**の略です。
データの「場所」をラベル名で指定するという意味で名付けられています。
対比すると：
loc = location（場所）→ ラベル名で場所を指定
iloc = integer location（整数位置）→ 数字で場所を指定

In [19]:
import pandas as pd

# Series の場合
scores = pd.Series([85, 92, 78, 95],
                   index=['数学', '英語', '国語', '理科'])

# loc でアクセス
print(scores.loc['数学'])        # 85
print(scores.loc['数学':'国語'])  # 数学から国語まで

85
数学    85
英語    92
国語    78
dtype: int64

In [27]:
y.loc[['b', 2]]

KeyError: '[2] not in index'

In [28]:
z = pd.Series(data=['a', 'b', 'c'], index = [2,3,6], name='col_name')
z

2    a
3    b
6    c
Name: col_name, dtype: object

In [29]:
z.name

'col_name'

In [31]:
z.to_frame()

  col_name
2        a
3        b
6        c